<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbcn.mybatis.mapper.xml.BlogMapper">
    <cache-ref namespace="com.zbcn.mybatis.mapper.xml.BlogAuthorMapper"/>
    <resultMap id="ResultMap" type="com.zbcn.mybatis.vo.Blog">
        <id column="ID" jdbcType="BIGINT" property="id" javaType="long"/>
        <result column="NAME" jdbcType="VARCHAR" property="name" javaType="string"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title" javaType="string"/>
        <result column="AUTHOR_ID" jdbcType="BIGINT" property="authorId" javaType="long"/>
        <result column="CONTENT" jdbcType="VARCHAR" property="content" javaType="string"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" javaType="date"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" javaType="date"/>
    </resultMap>

    <select id="getAllBlogs" resultType="com.zbcn.mybatis.vo.Blog">
        select * from blog;
    </select>
    <select id="selectOne" resultType="com.zbcn.mybatis.vo.Blog">
        select * from blog where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.zbcn.mybatis.vo.Blog">
         insert into blog set
        NAME = #{name,jdbcType=VARCHAR},
        TITLE =#{title,jdbcType=VARCHAR},
        CONTENT=#{content,jdbcType=VARCHAR},
        AUTHOR_ID=#{authorId,jdbcType=BIGINT},
        CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
    </insert>

</mapper>